.loginStatus-box{
    
}
.loginStatus {
    display: inline-block;
    text-align: left;
    color: #233d4d;
    font-size: 1rem;
    vertical-align: middle;
    font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
    height: 36px;
    background: transparent;
    padding: 0 .5em;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginStatus-usuario {
    font-weight: bold;
}

.loginStatus-sair {
    display: inline-block;
    margin-left: 10px;
    padding: .5em 1em;
    height: 36px;
    color: #233d4d;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #233d4d;
    border-radius: 4px;
    cursor: pointer;
}