.loginForm {
    display: inline-block;
    text-align: left;
    font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

.loginForm-input {
    height: 36px;
    border: 2px solid #233d4d;
    background: transparent;
    padding: 0.2em .5em;
    /* width: 100%; */
    max-width: 200px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
}

.loginForm-label {
    text-align: left;
    display: block;
    margin-bottom: .4em;
}

.loginForm-label,
.loginForm-input,
.loginForm-submit{
    font-size: 1em;
    vertical-align: middle;
}

.loginForm-submit {
    display: inline-block;
    padding: .5em 1em;
    height: 36px;
    color: #233d4d;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #233d4d;
    border-radius: 4px;
    cursor: pointer;
}
