.opcoesDaPagina {
	display: block;
	vertical-align: middle;
	font-size: 1rem;
	flex: 1;
	text-align: right;
}

.opcoesDaPagina-opcao {
	font-size: 1em;
	vertical-align: middle;
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

.opcoesDaPagina-opcao + .opcoesDaPagina-opcao {
	margin-left: 1em;
}

.opcoesDaPagina-botao,
.opcoesDaPagina-botao:visited {
	display: inline-block;
	position: relative;
	top: -1px;
	padding: .5em 1em;
	height: 36px;
	color: #233d4d;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #233d4d;
	border-radius: 4px;
}

.opcoesDaPagina-botao:hover,
.opcoesDaPagina-botao:active,
.opcoesDaPagina-botao:focus {
	color: white;
	background: #233d4d;
	border: 2px solid #233d4d;
}

.opcoesDaPagina-opcao#busca {
	height: 36px;
	border: 2px solid #233d4d;
	background: transparent;
	padding: 0.2em .5em;
	width: 100%;
	max-width: 200px;
	border-radius: 4px;
}
